
.lab-test {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height : 600px
}


.form-card{
    display : flex;
    position: relative;
    height: 500px;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: scroll;        
}




.lab-form {
    width: 500px;
    padding: 20px;
    
}   


input {
    font-size: 15px;
    outline-width: 0;
    border : none;
    border-bottom: 2px solid #ccc;
    color : #ccc;
    padding : 15px
    

}
::placeholder{
    color:#ccc;
    opacity:1;
}


img {
    width : 500px;
    position: sticky;
     height: 500px;
     object-fit: cover;
    right: 0;
    top: 0;
}


.district-heading {
    font-size : 16px;
    font-weight : bold;
    padding: 10px 0px 10px 0px;
}


select {
    font-size:  15px    ;
    width: 150px;
    height : 30px;
    color : #ccc;
}


.district-sec {
    display :flex;
    flex-direction: column;
}

.tests {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}


.last-sec {
        font-size: 15px;
}

.buttons {
    margin-top: 20px;
}

.button {
    color: white;
    background-color: #A668F1;
    height : 40px;
    width : 100px;
    margin : 10px ;
    border : none;
    font-size: 14px;
    border-radius: 5px;
    
}

.button:hover{
    color: black;
}